<article
    class="scene"
    id="scene"
    data-my-watch-scroll=""
    data-ng-class="scene.id"
  >
  <section
      class="shot {{shot.class}}"
      data-ng-repeat="shot in scene.shots"
      id="{{shot.id}}"
      data-ng-class="{on:$first}"
      data-my-shot-on=""
      data-my-background="{{shot.poster}}"
    >
    <div
        class="content"
        data-ng-click="vgPlayPause()"
      >
      <div
          class="inner"
        >
        <header
            data-ng-hide="!shot.header"
            data-ng-bind-html="shot.header | markdown"
          >
        </header>
        <div
            class="body"
            data-ng-hide="!shot.body"
            data-ng-bind-html="shot.body | markdown"
          >
        </div>
      </div>
    </div>
    <nav>
      <ul>
        <li
            class="scene-previous"
            data-ng-hide="!scene.previousInt"
          >
          <a
              data-ng-href="/scene/{{scene.previousInt}}"
            >
            <span
                class="hide-text"
              >
              Previous scene
            </span>
          </a>
        </li>
        <li
            class="shot-previous"
            data-ng-hide="!shot.previousId"
          >
          <a
              data-ng-href="#{{shot.previousId}}"
              data-ng-click="scrollTo(shot.previousId)"
            >
            <span
                class="hide-text"
              >
              Previous shot
            </span>
          </a>
        </li>
        <li
            class="shot-next"
            data-ng-hide="!shot.nextId"
          >
          <a
              data-ng-href="#{{shot.nextId}}"
              data-ng-click="scrollTo(shot.nextId)"
            >
            <span
                class="hide-text"
              >
              Next shot
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </section>
  <figure
      id="video"
    >
    <videogular
        data-vg-player-ready="vgOnPlayerReady($API)"
        data-vg-cue-points="vgConfig.cuePoints"
        data-vg-auto-play="vgConfig.autoPlay"
        data-vg-loop="vgConfig.loop"
      >
      <vg-media
          data-vg-src="vgConfig.sources"
          data-vg-youtube="rel=0;showinfo=0"
        >
      </vg-media>
      <vg-controls>
				<vg-scrub-bar>
          <vg-scrub-bar-buffer></vg-scrub-bar-buffer>
					<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-cuepoints
              data-vg-cuepoints-config="vgConfig.plugins.cuepoints"
            >
          </vg-cuepoints>
				</vg-scrub-bar>
			</vg-controls>
      <vg-buffering></vg-buffering>
    </videogular>
  </figure>
</article>
